# HTTP SERVER
HOST=<Your Host>
PORT=<Your Port>

# POSTGRES
PGHOST=<Your Pg Host>
PGUSER=<Your Pg User>
PGDATABASE=<Your db name>
PGPASSWORD=<Your db pass>
PGPORT=

# POSTGRES TEST
PGHOST_TEST=<Your Pg test host>
PGUSER_TEST=<your pg user test>
PGDATABASE_TEST=<your db test name>
PGPASSWORD_TEST=<your db test pass>
PGPORT_TEST=<your db test port>

# TOKENIZE
ACCESS_TOKEN_KEY=<ur access token>
REFRESH_TOKEN_KEY=<ur refresh token key>
ACCCESS_TOKEN_AGE=<ur token age in integer>
